<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <% custom_packs.each do |pack| %>
      <%= javascript_pack_tag pack, defer: true %>
    <% end %>
  </body>
</html>
